{% extends "news/base.html" %}

<!-- put title here -->
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="container-fluid d-flex justify-content-center">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <h2>Login to NewsHub</h2>
                {{ form | crispy }}
            </fieldset>
            <div>
                <button class="btn btn-outline-primary" type="submit">Login</button>
            </div>
            <div>
                <small>
                    Need an account?
                    <a href="{% url 'register' %}">Sign up here</a>
                </small>
            </div> 
        </form>
    </div>
</div>

{% endblock %}
